<!-- Header -->
<body>
  <div class="site">
    <!--Done for responsivesness cause a mobile ignores the css for the body tags-->
    <!--Navbar-->
    <header id="header" class="no-scroll">
      <nav class="navbar navbar-expand fixed-top">
        <div class="container-fluid">
          <div id="hor-nav" class="row gradient">
            <div class="col-lg-1 col-md-4 col-sm-12 nav-col img-col">
              <input id="img-btn" class="img-btn btn" type="image" src="/images/logo_white.svg" name="" value="">
            </div>
            <div class="col-lg-1 col-md-4 col-sm-12 nav-col home">
              <a href="/" role="button" class="btn nav-btn nav-btn1">Home</a>
            </div>
            <div class="col-lg-1 col-md-4 col-sm-12 nav-col events">
              <a href="/events" role="button" class="btn nav-btn nav-btn2">Events</a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 nav-col webinars">
              <a href="/webinars" role="button" class="btn nav-btn">Webinars</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 nav-col project tab1-hide">
              <a href="/amalthea_project" role="button" class="btn nav-btn">Amalthea Project</a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 nav-col webinars tab1-hide">
              <a href="/symposium" role="button" class="btn nav-btn">Symposium</a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 nav-col dropdown2">
              <a href="#" class="btn nav-btn">Explore More</a>
              <div class="dropdown-content2">
                <a href="/amalthea_project" role="button" class="tab1-show project-hline">Amalthea Project</a>
                <a href="/symposium" role="button" class="tab1-show symp-hline">Symposium</a>
                <a href="/caleaderboard" role="button" class="ca-hline">CA Leaderboard</a>
                <a href="/past_sites" class="psites-hline">Past Sites</a>
                <a href="/contact" class="contact-hline">Contact</a>
                <a href="/sponsors">Sponsors</a>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 nav-col phone">
              <a href="/caleaderboard" role="button" class="btn nav-btn">CA Leaderboard</a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-12 nav-col phone">
              <a href="/past_sites" role="button" class="btn nav-btn">Past Sites</a>
            </div>
            <div class="col-lg-1 col-md-4 col-sm-12 nav-col phone">
              <a href="/contact" role="button" class="btn nav-btn nav-btn3">Contact</a>
            </div>
            <div class="col-lg-1 col-md-4 col-sm-12 nav-col phone">
              <a href="/sponsors" role="button" class="btn nav-btn nav-btn3">Sponsors</a>
            </div>
            <!-- <div class="col-lg-2 col-md-4 col-sm-12 nav-col">
              <button type="button" class="btn btn-primary nav-btn">Login</button>
            </div> -->
          </div>
        </div>
        <div class="dropdown">
          <a class="login" href="#">
            <span class="fa-stack">
              <i class="fas fa-user"></i>
              <i class="fas fa-caret-down"></i>
            </span>
          </a>
          <div class="dropdown-content">
            <a href="#footer">Subscribe</a>
          </div>
        </div>
      </nav>
    </header>
