<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact | Amalthea 2020</title>
  <meta name="author" content="Reuben Devanesan, B.Tech Chemical Engineering | Gaurav Viramgami, B.Tech Computer Science | Harshit Ramolia, B.Tech Chemical Engineering">
  <meta name="description" value="Amalthea is the Annual Tech Summit of IIT Gandhinagar.">
  <link rel="icon" href="\images\Amalthea_title_logo.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="\css\contact.css">
  <link rel="stylesheet" href="\css\common.css">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <!--Inter-->
  <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<%- include('partials/header') %>

<br><br><br><br>
  <h1 class="heading-sites">Contact Us</h1>
  <br>
  <!--Temporary Content-->
  <div class="card shadow four-person">
    <!-- <h1 class="box-heading">This page is going to be updated soon!</h1> -->
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Nikharv Shah - 9484801127 - nikharv.19110125@iitgn.ac.in.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag stag">
              Core Member
            </span>
          </div>
          <br>
          <div class="name">
            <p>Nikharv Shah</p>
            <hr>
          </div>
          <div class="numbr">
            <p>+91 9484801127 <br>nikharv.19110125@iitgn.ac.in</p>
          </div>
        </div>
      </div>
      <hr class="break">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Preet Shah 9537373663_ preet.ss@iitgn.ac.in.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag stag">
              Core Member
            </span>
          </div>
          <br>
          <div class="name">
            <p>Preet Shah</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 9537373663 <br>preet.ss@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Sanjay Venkitesh- 7823991431 (venkitesh.s@iitgn.ac.in).jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag stag">
              Core Member
            </span>
          </div>
          <br>
          <div class="name">
            <p>Sanjay Venkitesh</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 7823991431 <br>venkitesh.s@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Xhitij-9833171140_xhitij.cm@iitgn.ac.in .jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag stag">
              Core Member
            </span>
          </div>
          <br>
          <div class="name">
            <p>Xhitij Choudhary</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 9833171140 <br>xhitij.cm@iitgn.ac.in</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="card shadow four-person">
    <!-- <h1 class="box-heading">This page is going to be updated soon!</h1> -->
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Arushi Arnav - 8294392913-arushi.a@iitgn.ac.in.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag">
              Marketing
            </span>
          </div>
          <br>
          <div class="name">
            <p>Arushi Arnav</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 8294392913 <br>arushi.a@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Raavi Patel_8511185880_raavi.vp@iitgn.ac.in.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag">
              Marketing
            </span>
          </div>
          <br>
          <div class="name">
            <p>Raavi Patel</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 8511185880 <br>raavi.vp@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Adarsh Golait - 8602772537 - adarsh.g@iitgn.ac.in.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag">
              Events
            </span>
          </div>
          <br>
          <div class="name">
            <p>Adarsh Golait</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 8602772537 <br>adarsh.g@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/VidehPatel-8849885100-videh.p@iitgn.ac.in.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag">
              Events
            </span>
          </div>
          <br>
          <div class="name">
            <p>Videh Patel</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 8849885100 <br>videh.p@iitgn.ac.in</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="card shadow four-person">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Gaurav Viramgami - 7874626478 - viramgami.g@iitgn.ac.in.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag stag">
              Web & App
            </span>
          </div>
          <br>
          <div class="name">
            <p>Gaurav Viramgami</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 7874626478 <br>viramgami.g@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Reuben Devanesan - 9867608536.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag stag">
              Web & App
            </span>
          </div>
          <br>
          <div class="name">
            <p>Reuben Devanesan</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 9867608536 <br>reuben.sd@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Saagar Parikh - 9712549922 - saagar.p@iitgn.ac.in.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag">
              Projects
            </span>
          </div>
          <br>
          <div class="name">
            <p>Saagar Parikh</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 9712549922 <br>saagar.p@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Hrushti Naik 7575083133 (hrushti.n@iitgn.ac.in).jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag">
              Design
            </span>
          </div>
          <br>
          <div class="name">
            <p>Hrushti Naik</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 7575083133 <br>hrushti.n@iitgn.ac.in</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="card shadow four-person">
    <div class="row row-contact">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Nipun Mahajan- 8082598900- mahajan.n@iitgn.ac.in .png" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag">
              Design
            </span>
          </div>
          <br>
          <div class="name">
            <p>Nipun Mahajan</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 8082598900 <br>mahajan.n@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/juhi.jpeg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag">
              Webinars
            </span>
          </div>
          <br>
          <div class="name">
            <p>Juhi Parikh</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 9725123919 <br>parikh.juhi@iitgn.ac.in</p>
          </div>
          <hr class="break">
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="contact">
          <div class="img">
            <img src="/images/contact/Siddhi.jpg" class="img-fluid mx-auto d-block rounded-circle contact-img">
            <span class="tag">
              Sponsorship
            </span>
          </div>
          <br>
          <div class="name">
            <p>Siddhi Surawar</p>
            <hr>
          </div>
          <div class="number">
            <p>+91 8104106858 <br>siddhi.pravin@iitgn.ac.in</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="update-spacing"></div>

  <%- include('partials/footer') %>

  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/subscribe.js"></script>
</body>
</html>
