<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Events | Amalthea 2020</title>
  <meta name="author" content="Reuben Devanesan, B.Tech Chemical Engineering | Gaurav Viramgami, B.Tech Computer Science | Harshit Ramolia, B.Tech Chemical Engineering">
  <meta name="description" value="Amalthea is the Annual Tech Summit of IIT Gandhinagar.">
  <link rel="icon" href="\images\Amalthea_title_logo.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="\css\events.css">
  <link rel="stylesheet" href="\css\transitionNavbar-WtoB.css">
  <link rel="stylesheet" href="\css\common.css">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <!--Inter-->
  <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<%- include('partials/header') %>

<!--Event Logos Slideshow-->
<div class="container-fluid">
  <div class="slideshow-container">
    <div class="mySlides1">
      <img class="event-slides" src="/images/cryptorush-100.jpg">
    </div>

    <div class="mySlides1">
      <img class="event-slides" src="/images/dcode.png">
    </div>

    <div class="mySlides1">
      <img class="event-slides" src="/images/ICON.png">
    </div>

    <div class="mySlides1">
      <img class="event-slides" src="/images/CRYPTIX.png">
    </div>

    <div class="mySlides1">
      <img class="event-slides" src="/images/quickwit-100.jpg">
    </div>

    <div class="mySlides1">
          <img class="event-slides" src="/images/autodesk.png">
    </div>


    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <br>
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
    </div>
  </div>
</div>
<br>

<div class="container-fluid events-infoo">
      <div class="slideshow-container">
        <!--Event 1-->
        <!--Cryptorush-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">About</h1>
            <div class="row">
              <div class="col-12 box-text">
                Crypto-Trading: A business to make easy money by making a few clicks on time! Is it so? Check out what graph crunching and timely clicks real Crypto-Trading takes, right here in CryptoRush. We bring forward an opportunity to feel and act like a real Crypto-Trader without any risks. Here's how you sum it up. Mock Money, Real-Time Rates, Real Brokerage Rates and Real courage to make a worthy investment!
                <br>
                CryptoRush, a week-long event will be conducted on Roostoo. Each participant starts off with $50,000 worth of virtual currency, and the contestant, through trading and speculations, who ends up with the most value at the end of the week is declared the winner.
                <br>
                CryptoRush is powered by WazirX, India's largest cryptocurrency exchange platform. Exciting prizes worth INR 50,000 are up for the grab. No participation fee or knowledge is required. So, what are you waiting for! Register Now!
              </div>
              <!--<div class = "col-md-4 About-video"></div>-->
            </div>
          </div>

          <!--Rules-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Participation</h1>
            <div class="box-text">
              • There are no prerequisites for this competition, but knowlege of stock trading would definitely increase your chances of winning! <br>
              • There is no participation fee. <br>
              • The event is going to be held online on Roostoo application. The app (<b> Roostoo – Mock Crypto Trading </b>) can be downloaded from the links below: <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://play.google.com/store/apps/details?id=com.roostoo.roostoo&hl=en_IN">&nbsp;For Android</a>
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://apps.apple.com/us/app/roostoo-mock-crypto-trading/id1483561353">&nbsp;For IOS</a><br>
              • The participants need to register <a href = "/cryptorush_form">here</a> to be eligible for winning the exciting prizes. <br>
              • The participation code required in the Roostoo App, will be mailed to the registered participants. <br><br>
            </div>
            <!-- <div class="link-crypto" style="text-align:center;"><a class="btn btn-primary register-btn btn-left" style="width:35%;" href="/cryptorush_form" role="button">Register</a></div> -->
          </div>

          <!--Rules-->
          <br>
          <br>
          <div class="box1">
            <div>
              <h1 class="box-heading">Rules  <a class="btn btn-primary register-btn btn-left" href="\rulebooks\CryptoRush_Rulebook.pdf" role="button" style = "float:right;" download = "Cryptorush Rulebook">Download Rulebook</a></h1>
            </div>
            <div class="box-text">
              • The ranking would be based on the Portfolio return rates. <br>
              • Prizes will be awarded to the top three ranked participants with highest portfolio return rates. In case of a tie, prizes will be awarded as deemed fair by the organisers. <br>
              • All participants will be provided with a virtual participation certificate. <br>
              • Winners would be announced within 48 hours after the event ends, on the Amalthea website and respective social media platforms. <br>
              • Short Selling is not supported and allowed. <br>
              • Buying on margins is not allowed. <br>
              • Bot Assisted Trading, Hyper Frequency, Multiple Accounts Trading, and any illegitimate activities which suggest cheating or exploiting the systems are not allowed. <br>
              • Users who cancel orders more than 20 times per minute may be disqualified. <br>
              • Creation of multiple accounts by any single user to participate in the event will lead to disqualification. If the system detects that two users have conspired to place matched orders, their participation will be disqualified. <br>
              • ROOSTOO HAS SOLE AND FINAL DISCRETION OF INTERPRETATION OF THE COMPETITION RULES AND RIGHTS TO DISQUALIFY ANY USERS WHO VIOLATE THE RULES. <br>
              • Participants will have to agree to Roostoo Terms and Conditions upon signing in. <br>
              • The event DOES NOT include any buying or selling of any real cryptocurrencies with real money. The money that participants will use to trade will be mock money deposited in the virtual portfolio.
            </div>
          </div>

          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Prizes</h1>
            <div class="box-text">
              • 1st Position - INR 5,500 + 160 WRX Tokens*
              <br>
              • 2nd Position - INR 3,800 + 90 WRX Tokens
              <br>
              • 3rd Position - INR 2,100 + 50 WRX Tokens
              <br>
              • 4th Position - INR 1,100
              <br>
              • 5th Position - INR 1,000
              <br>
              • 6th Position - INR 900
              <br>
              • 7th Position - INR 800
              <br>
              • 8th Position - INR 700
              <br>
              • 9th Position - INR 600
              <br>
              • 10th Position - INR 500
              <br>
              • Top 300 Participants (the first 300, excluding the top 3 rankers) will win 10 WRX Tokens.
              <br>
              * Just like Bitcoin and other cryptocurrencies today, WRX is a token created by WazirX. There will be a maximum of 1 billion WRX coins ever created. Click <a href = "https://wazirx.com/">here</a> to know more. 1 WRX token = INR 10 (as of 14th Oct, 2020).
            </div>
          </div>

          <!--Contact-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Contact</h1>
            <div class="box-text">
              • Adarsh Golait
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:adarsh.g@iitgn.ac.in" class="email" target="_blank">adarsh.g@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 8609772536
              <br>
              • Sayan Biswas
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:biswas.sayan@iitgn.ac.in" class="email" target="_blank">biswas.sayan@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 7998084835
            </div>
          </div>
        </div>

        <!--Event 2-->
        <!--Dcode-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">About</h1>
            <div class="row">
              <div class="col-12 box-text">
                To all the enthusiastic coders put there, this event is solely for you!
                <br>
                D'Code is a 3 hour long competitive programming contest that tests your algorithmic skills. This contest is based on Data Structures and Algorithms. The contest is rated for Division 1 and 2 participants. Cash prizes up to 15k await the winners. Every year, D'Code sees national and international participation.
                <br>
                So whether you are a rookie looking to polish your skills, a climber wanting to improve his rating, an expert aiming for the top prize, or a coding addict who's in just for the thrill, D'Code is the place for you!
                <br>
                There is no participation fee.
              </div>
            </div>
          </div>

          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Participation</h1>
            <div class="row">
              <div class="col-12 box-text">
                • To participate, all you need is a CodeChef account.
                <br>
                • If you do not have a CodeChef account, you can create one <a href = "https://www.codechef.com/signup">here</a>.
                <br>
                • There is no participation fee.
              </div>
            </div>
          </div>

          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Rules<a class="btn btn-primary register-btn btn-left" href="\rulebooks\dcode-2020 (1).pdf" role="button" style = "float:right;" download = "D'Code Rulebook">Download Rulebook</a></h1>
            <div class="row">
              <div class="col-12 box-text">
                • All participations are expected to abide by the <a href = "https://www.codechef.com/codeofconduct">CodeChef Code of Conduct</a>.
              </div>
            </div>
          </div>

          <!--Past Winners-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Past Winners</h1>
            <div class="col-12 box-text">
              • Ashutosh Agarwal (India) -  Country rank 847 on CodeChef as on 22nd Oct, 2020.
              <br>
              • Hanit Banga (India) - Country rank 1 on Codeforces as on 22nd Oct, 2020.
              <br>
              • Minora Fujita (Japan) - Global rank 15 & Country rank 1 on CodeChef as on 22nd Oct, 2020.
            </div>
          </div>

          <!--Contact-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Contact</h1>
            <div class="box-text">
              • Yash More
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:yash.mh@iitgn.ac.in" class="email" target="_blank">yash.mh@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 9511845803
              <br>
              • Xhitij Choudhary
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:xhitij.cm@iitgn.ac.in" class="email" target="_blank">xhitij.cm@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 9833171140
            </div>
          </div>
        </div>

        <!--Event 3-->
        <!--Icon-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">About</h1>
            <div class="row">
              <div class="col-12 box-text">
                <b>"There is only one thing stronger than all the armies of the world: and that is an idea whose time has come."</b>
                  <br> &nbsp;&nbsp;  — Victor Hugo
                <br>
                ICon (Innovative Conference) is an event which aims to bring forward your otherwise hidden, neoteric and exceptional ideas/innovations to the world.
                <br>
                We see the potential in the bright minds to shape the future. By connecting them together, we create a unique platform for participants to learn, exchange ideas and collaborate with experts. Stay hooked to the website for updates.
              </div>
            </div>
          </div>

          <!--Contact-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Contact</h1>
            <div class="box-text">
              • Adarsh Golait
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:adarsh.g@iitgn.ac.in" class="email" target="_blank">adarsh.g@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 8609772536
              <br>
              • Sayan Biswas
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:biswas.sayan@iitgn.ac.in" class="email" target="_blank">biswas.sayan@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 7998084835
            </div>
          </div>
        </div>

        <!--Event 4-->
        <!--Cryptix-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">About</h1>
            <div class="row">
              <div class="col-12 box-text">
                CryptixCTF is a jeopardy-style capture the flag event which requires teams to solvesome tasks to find hidden flags. The Tasks involve application of knowledge in thefield of Cryptography, Steganography, Reverse engineering and Web exploitation.Though it may seem a bit fancy to some, the contest is designed while keepingbeginners in mind. So, Put on your Hacker hats and Showcase your hacking skills!
              </div>
            </div>
          </div>

          <!--Contact-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Contact</h1>
            <div class="box-text">
              • Abhigyan Martin Ninama
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:abhigyan.mn@iitgn.ac.in" class="email" target="_blank">abhigyan.mn@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 9406589979
              <br>
              • Videh Patel
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:videh.p@iitgn.ac.in" class="email" target="_blank">videh.p@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 8849885100
            </div>
          </div>
        </div>

        <!--Event 5-->
        <!--Quickwit-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">About</h1>
            <div class="row">
              <div class="col-12 box-text">QuickWit is a short weekly online quiz conducted on our Instagram handle <a href="https://www.instagram.com/amalthea_iitgn/"> @amalthea_iitgn</a>.
                This quiz is conducted every Sunday at sharp 9pm having questions related to various fields of science and technology.
                It appreciates your accuracy as well as quick response and the leaderboard gets updated every week.
                The top 10 contestants from the leaderboard get a shout out from our Instagram handle every week.</div>
            </div>
          </div>

          <!--Leaderboard-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Leaderboard</h1>
            <div class="row">
              <div class="col-12 box-text">
                • Andrew <br>
                • Dhruv Saraswat <br>
                • Harsh Patel <br>
                • Aniket Rajnish <br>
                • Dhanesh Bhutada
              </div>
            </div>
          </div>

          <!--Contact-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Contact</h1>
            <div class="box-text">
              • Adarsh Goliat
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:adarsh.g@iitgn.ac.in" class="email" target="_blank">adarsh.g@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 8609772536
              <br>
              • Xhitij Choudhary
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:xhitij.cm@iitgn.ac.in" class="email" target="_blank">xhitij.cm@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 9833171140
            </div>
          </div>
        </div>

      </div>
      <br>
    </div>

    <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">About</h1>
            <div class="row">
              <div class="col-12 box-text">
                AutoDesk Fusion 360 is an essential software for students.  It's the first 3D CAD, CAM, and CAE tool of its kind, connecting your entire product development process into one cloud-based platform. Fusion 360 helps students and educators prepare for the future of design.
                <br>
                Amalthea brings to you a great opportunity to master this software and add to your skillset! In the Fusion 360 Design Contest, students will submit a model based on the problem statement, which will be released a day before the contest starts.
                <br>
                The best part, we will be conducting a workshop on how to use Fusion 360, which will be taught by expert instructors from AutoDesk ! The workshop and the contest is open to all, and has no participation fee.
              </div>
              <!--<div class = "col-md-4 About-video"></div>-->
            </div>
          </div>

          <!--Rules-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Participation</h1>
            <div class="box-text">
              • All participants will participate individually.
              <br>
              • Other than having the AutoDesk Fusion 360 software installed, there are no prerequisites to participate.
              <br>
              • There is NO participation fee.
              <div class="link-crypto" style="text-align:center;"><a class="btn btn-primary register-btn btn-left" style="width:35%;" href="/autodesk_form" role="button">Register For Workshop And Contest</a></div>
            </div>
          </div>

          <!--Rules-->
          <br>
          <br>
          <div class="box1">
            <div>
              <h1 class="box-heading">Workshop Guidelines<a class="btn btn-primary register-btn btn-left" href="\rulebooks\AutoDesk Rulebook_edit-2.pdf" role="button" style = "float:right;" download = "Autodesk Rulebook">Download Rulebook</a></h1>
            </div>
            <div class="box-text">
             • There is no eligibility criteria or any fee to attend the workshop. Anyone can
             join the workshop.
             <br>
             • Students are advised to have the software AutoDesk Fusion 360 installed
             before the workshop on their device. Working alongside the instructor is a
             great hands-on experience and is the best way to learn the software.
             <br>
             • The Workshop will be held online. The link and the details to join will be
             shared shortly after the registration.
            </div>
          </div>

          <br>
          <br>
          <div class="box1">
            <div>
              <h1 class="box-heading">The Design Contest</h1>
            </div>
            <div class="box-text">
             • The design contest will start on 18:00 IST, 2nd January 2021, and will run till 18:00 IST, 16 th January 2021. Design submissions will only be accepted during
             this period.
             <br>
             • The organisers hold the rights to make changes in the event format or
             structure without prior notice to the participants.
             The participants would be informed regarding any changes via mail
             beforehand.
             <br>
             • The design will be judged on the following parameters:
             <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Adherence to the problem statement (10 points)
             <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Complexity (10 points)
             <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Miscellaneous (10 points)
             <br>
             • Plagiarism is strictly prohibited. If a participant is found to have plagiarized or have used any unauthorised sources anywhere in the model, strict investigation.
             <br>
             • Only the submissions made on the AutoDesk Fusion 360 software will be considered for the prize. Here is the link to download the software:
             <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ○ <a href="https://www.autodesk.com/education/edu-software/overview?sorting=featured&page=1" target="_blank">The educational licensed version</a> (advised to download this if you are a student, not compulsory)
             <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ○ <a href="https://www.autodesk.in/products/fusion-360/personal" target="_blank">Hobby, personal use version</a>
             <br>
             • Submission details will be sent the to the registered email address
            </div>
          </div>

          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Prizes</h1>
            <div class="box-text">
              • Rank 1 - INR 7,000
              <br>
              • Rank 2 - INR 5,000
              <br>
              • Rank 3 - INR 3,000
              <br>
              • There will be prizes during the workshops also, which will be announced shortly before the workshop.
            </div>
          </div>

          <!--Contact-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Contact</h1>
            <div class="box-text">
              • Videh Patel
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:videh.p@iitgn.ac.in" class="email" target="_blank">videh.p@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 8849885100
              <br>
              • Xhitij Choudhary
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:xhitij.cm@iitgn.ac.in" class="email" target="_blank">xhitij.cm@iitgn.ac.in</a>
              <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 98331 71140
            </div>
          </div>
        </div>

    <%- include('partials/footer') %>

  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/events.js"></script>
  <script src="/js/subscribe.js"></script>
  <script type="text/javascript">
  var event = "<%= event %>";
  var map = {
    "cryptorush": 1,
    "dcode": 2,
    "icon": 3,
    "cryptix": 4,
    "quickwit": 5,
    "autodesk": 6,
  };
  var slideIndex = [map[event]];
  var slideId = ["mySlides1", "mySlides2"]
  showSlides(1);

  //var slideIndexo = 0;
  //carousel();

  function plusSlides(n) {
    showSlides(slideIndex[0] += n);
    var element = document.getElementsByClassName(slideId[0]);
    if (n > 0) {
      for (i = 0; i < element.length; i++) {
        element[i].classList.remove("animate-left");
        element[i].classList.add("animate-right");
      }
    }
    if (n < 0) {
      for (i = 0; i < element.length; i++) {
        element[i].classList.remove("animate-right");
        element[i].classList.add("animate-left");
      }
    }
  }

  //For the dots.
  function currentSlide(n) {
    showSlides(slideIndex[0] = n);
  }

  //Function to show only the nth slide and rest are hidden.
  function showSlides(n) {
    var i;
    var x1 = document.getElementsByClassName(slideId[0]);
    var x2 = document.getElementsByClassName(slideId[1]);
    var dots = document.getElementsByClassName("dot");

    if (n > x1.length) {
      slideIndex[0] = 1;
    }
    if (n < 1) {
      slideIndex[0] = x1.length;
    }
    for (i = 0; i < x1.length; i++) {
      x1[i].style.display = "None";
      x2[i].style.display = "None";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    //slideIndexo++;
    x1[slideIndex[0] - 1].style.display = "block";
    x2[slideIndex[0] - 1].style.display = "block";
    dots[slideIndex[0] - 1].className += " active";
  }

  /*
  function carousel() {
      var i;
      var x1 = document.getElementsByClassName(slideId[0]);
      var x2 = document.getElementsByClassName(slideId[1]);
      for (i = 0; i < x1.length; i++) {
          x1[i].style.display = "None";
          x2[i].style.display = "None";
      }
      slideIndexo++;
      if (slideIndexo > x1.length) {
          slideIndexo = 1;
      }
      x1[slideIndexo-1].style.display = "block";
      x2[slideIndexo-1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
  }
  */
</script>

</body>

</html>
