<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Symposium | Amalthea 2020</title>
  <meta name="author" content="Reuben Devanesan, B.Tech Chemical Engineering | Gaurav Viramgami, B.Tech Computer Science | Harshit Ramolia, B.Tech Chemical Engineering">
  <meta name="description" value="Amalthea is the Annual Tech Summit of IIT Gandhinagar.">
  <link rel="icon" href="\images\Amalthea_title_logo.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="\css\symposium.css">
  <link rel="stylesheet" href="\css\transitionNavbar-WtoB.css">
  <link rel="stylesheet" href="\css\common.css">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <!--Inter-->
  <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<%- include('partials/header') %>

<!-- Symposium Top Image -->
<div class="container-fluid">
  <div class="">
    <img class="symposium-image" src="\images\symposium.png" alt="">
  </div>
</div>

<br><br>
<div class="box1">
  <h1 class="box-heading">Symposium</h1>
  <div class="box-text">
    <p>
      The symposium at Amalthea provides a medium for industrialists, researchers, and experts to collaborate and discuss the various challenges and difficulties faced in advancing certain technological aspects of our society. As brilliant minds with
      the same goals meet, ideas and solutions are bound to come out. Individuals with exemplary work in the sector work out a relevant problem and reach a solution through healthy discussion and debate. The Symposium also provides a platform for
      budding researchers to connect with fellow researchers and experts from the field.
    </p>
  </div>
</div>
<br><br>
<div class="box1">
  <h1 class="box-heading">Theme</h1>
  <div class="box-text">
    <p>
      This Year’s Theme: “Climate Change: Connecting Science, Industry and Policy”
      In recent years, Climate Change has become the most pressing issue for humankind. Amidst these times, the need for cohesion between science, industry and policy- the three most crucial fields that can bring about Climate Change action, is
      imperative. Thus, we aim to provide a platform for discussion and deliberation amongst experts from these three vital fields. We envision the symposium to give a vivid picture of the latest scientific developments, how industry implements these
      new methods to embrace climate change, and how policy decisions could facilitate the real-world implementation of the same.
    </p>
  </div>
</div>

<br><br>
<div class="box1">
  <h1 class="box-heading">Panel</h1>
  <div class="box-text">
    <div id="symposiumSlide">
      <div class="photobanner">
        <img class="symposium-slide" src="\images\Speaker_Website.png" alt=""><img class="symposium-slide" src="\images\Speaker_Website.png" alt="">
      </div>
    </div>
    <br>
    <div class="date-text">
    <b>Date : </b>December 13, 2020
    <br>
    <b>Time : </b>10 am to 1 pm IST
    <br>
    <div style="height:5px"></div>
    <class="link" divstyle="text-align:center;"><a class="btn btn-primary register-btn btn-left" style="width:35%;" href="/symposium_form" role="button">Register</a>
  </div>
  </div>
</div>
<br><br>
<!-- Contact -->
<div class="box1">
  <h1 class="box-heading">Contact</h1>
  <div class="box-text">
    • Sanjay Venkitesh
    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:venkitesh.s@iitgn.ac.in" class="email" target="_blank">venkitesh.s@iitgn.ac.in</a>
    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 7823991431
    <br>
    • Revant Shah
    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:revant.s@iitgn.ac.in" class="email" target="_blank">revant.s@iitgn.ac.in</a>
    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +91 9998884990
  </div>
</div>

<div class="update-spacing"></div>


<%- include('partials/footer') %>

<!--Bootstrap-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/js/navbar.js"></script>
<script src="/js/symposium.js"></script>
<script src="/js/subscribe.js"></script>
</body>

</html>
